* {
    box-sizing: border-box;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #fffefe;
}

header {
    background-color: #2C3D4D;
    width: 100%;
    padding: 36px 72px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #fff;
    font-size: 48px;
}

nav.menu {
    list-style-type: none;
    padding: 0;
}

nav .menu-list {
    font-size: 24px;
    display: inline-block;
    margin-right: 24px;
}

nav .menu-list a{
    
    color: #fff;
    text-decoration: none;
}


/* Hero Styling */
.hero {
    background-color: #24CC96;
    color: white;
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-img {
    width: 250px;
    border-radius: 50%;
}

.hero-container h1 {
    color: #fff;
    font-size: 60px;
}

.icon-line {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-line i {
    font-size: 32px;
}

.line {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    border-top: 5px solid white;
}


/* Project Styling */
.project {
    padding: 60px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container h1 {
    color: #2C3D4D;
    text-align: center;
    font-size: 60px;
    margin-bottom: 38px;

}

.project-line {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    border-top: 5px solid #2C3D4D;
}


.project i {
    color: #2C3D4D;
}

.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    /* margin-right: 5px; */
    margin-top: 48px;
    padding-bottom: 28px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 4px #ccc;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 230px;
}

.card h3 {
    color: #24CC96;
    font-size: 28px;
    margin-top: 24px;
    padding: 0 24px;
}

.card .card-tag {
    margin-top: 24px;
    padding: 0 24px;

}

.card .card-tag .green-tag {
    background-color: #24CC96;
    padding: 4px;
    border-radius: 10px;
    color: white;
}

.card .card-tag .yellow-tag {
    background-color: #eeee47;
    padding: 4px;
    border-radius: 10px;
    color: black;
}


.card p {
    margin-top: 24px;
    padding: 0 24px;

}

/* about-styling */

.about {
    background-color: #24CC96;
    color: #fff;
    padding: 100px 120px 200px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 38px;
}

.about-container p {
    font-size: 24px;
    margin-bottom: 38px;
    text-align: center;
}


/* contact-styling */

.contact {
    padding: 60px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    color: #2C3D4D;
    text-align: center;
    font-size: 60px;
    margin-bottom: 38px;
}

.contact-line {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    border-top: 5px solid #2C3D4D;
}

.contact i {
    color: #2C3D4D;
}

.contact .icon-box {
    padding: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.icon-box .box {
    padding: 48px;
    margin-right: 28px;
}


.icon-box .box span {
    display: inline-block;
    margin-bottom: 16px;
    padding: 40px 37px;
    background-color: #24CC96;
    border-radius: 100%;
}

.icon-box .box i {
    color: #fff;
    font-size: 32px;
}

.icon-box .box small {
    display: block;
    margin-bottom: 14px;
}

.icon-box .box .email {
    color: #24CC96;
}

/* Social styling*/

.socials {
    background-color: #2C3D4D;
    color: #fff;
    padding: 100px 120px 200px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-container h1 {
    text-align: center;
    font-size: 52px;
    margin-bottom: 38px;
}

.social-icons {
    text-align: center;
}


.social-icons span {
    display: inline-block;
    margin-right: 24px;
    background-color: #24CC96;
    padding: 10px 12px;
    border-radius: 100%;
}



/* Footer */

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 36px 72px;
}






/* 
  Device = Tablets, Ipads (portrait)
  Screen = Between 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS STYLE*/


}

/* 
  Device = Tablets, Ipads (landscape)
  Screen = Between 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    nav .menu-list {
        margin-right: 12px;
    }
      
    .card {
        width: 100%;
    }

}

/* Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px*/

@media (min-width: 481px) and (max-width: 767px) {

    header {
        padding-left: 36px;
        padding-right: 36px;
    }

    nav h2 {
        font-size: 32px;
    }
    
    nav .menu-list {
        font-size: 16px;
        margin-right: 10px;
    }

    .hero-container h1, 
    .project-container h1, 
    .about-container h1,
    .contact h1,
    .socials-container h1 {
        font-size: 40px;
    }

    .card {
        width: 100%;
    }

    .about {
        padding: 80px 100px 80px 100px;   
    }

    .contact {
        padding: 40px 80px;
    }

    .contact .icon-box {
        padding: 20px;
    }

    .icon-box .box  h2{
        font-size: 20px;
    }
    
    .icon-box .box span {
        margin-bottom: 12px;
        padding: 20px 27px;
    }
    
    .icon-box .box i {
        font-size: 24px;
    }
    
    .icon-box .box small {
        margin-bottom: 10px;
    }

}

/* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = Between 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    header {
        padding-left: 36px;
        padding-right: 36px;
    }

    nav h2 {
        font-size: 32px;
    }
       
    nav .menu-list {
        font-size: 16px;
        margin-right: 10px;
    }

    .hero-container .hero-img {
        width: 150px;
    }

    .hero-container h1, 
    .project-container h1, 
    .about-container h1,
    .contact h1,
    .socials-container h1 {
        font-size: 40px;
    }

    .project {
        padding: 60px 80px;
    }

    .card {
        width: 100%;
    }

    .card h3 {
        font-size: 24px;
    }
    
    .card .card-tag {
        margin-top: 24px;
        padding: 0 24px;
    }

    .card .card-tag .green-tag,
    .card .card-tag .yellow-tag {
        font-size: 12px;
    
    }

    .about {
        padding: 80px 100px 100px 100px;   
    }

    .contact {
        padding: 40px 100px;
    }


    .about-container p {
        font-size: 18px;
    }

    .contact .icon-box {
        flex-direction: column;
        padding: 20px;
    }

    .icon-box .box {
        padding: 38px;
    }

    .icon-box .box  h2{
        font-size: 20px;
    }
    
    .icon-box .box span {
        margin-bottom: 12px;
        padding: 20px 27px;
    }
    
    .icon-box .box i {
        font-size: 24px;
    }
    
    .icon-box .box small {
        margin-bottom: 10px;
    }


    .socials {
        padding: 100px 80px 100px 80px;
       
    }

    .social-icons span {
        margin-right: 2px;
    }
}


